<!DOCTYPE html>
<html>

<head>

    <title>{{ movie.title }}</title>

    <link rel="stylesheet"
          href="{{ url_for('static',
          filename='style.css') }}">

</head>

<body>

<nav>

    <div class="logo">
        CineSuggestion
    </div>

    <ul>

        <li>
            <a href="/">Home</a>
        </li>

        <li>
            <a href="/watchlist">
                ❤️ My List
            </a>
        </li>

    </ul>

</nav>

<div class="details">

    <div class="poster">

        <img
        src="{{ movie.poster }}"
        alt="{{ movie.title }}">

    </div>

    <div class="info">

        <h1>
            {{ movie.title }}
        </h1>

        <h3>
            📅 Year :
            {{ movie.year }}
        </h3>

        <h3>
            🎬 Genre :
            {{ movie.genre }}
        </h3>

        <h3>
            ⭐ IMDb Rating :
            {{ movie.rating }}
        </h3>

        <br>

        <p>
            {{ movie.plot }}
        </p>

        <br>

        <a href="/add/{{ movie.title }}"
           class="btn">

            ❤️ Add to Watchlist

        </a>

    </div>

</div>

</body>

</html>