<!DOCTYPE html>
<html>

<head>
    <title>My Watchlist</title>

    <link rel="stylesheet"
          href="{{ url_for('static',
          filename='style.css') }}">
</head>

<body>

<nav>

    <div class="logo">
        CineSuggestion
    </div>

    <ul>
        <li>
            <a href="/">Home</a>
        </li>

        <li>
            <a href="/dashboard">
                Dashboard
            </a>
        </li>

        <li>
            <a href="/logout">
                Logout
            </a>
        </li>
    </ul>

</nav>


<div class="watchlist-page">

    <h1>
        ❤️ My Watchlist
    </h1>

    {% if watchlist %}

    <div class="movie-grid">

        {% for movie in watchlist %}

        <div class="movie-card">

            <img
                src="{{ movie.poster }}"
                alt="{{ movie.title }}">

            <div class="movie-info">

                <h3>
                    {{ movie.title }}
                </h3>

                <p>
                    ⭐ {{ movie.rating }}
                </p>

                {% if movie.year %}
                <p>
                    📅 {{ movie.year }}
                </p>
                {% endif %}

                <a href="/details/{{ movie.title }}"
                   class="btn">
                    View Details
                </a>

                <a href="/remove/{{ movie.title }}"
                   class="remove-btn">
                    Remove
                </a>

            </div>

        </div>

        {% endfor %}

    </div>

    {% else %}

    <div class="empty-box">

        <h2>
            Your watchlist is empty
        </h2>

        <p>
            Start exploring and add your
            favourite movies.
        </p>

        <br>

        <a href="/"
           class="btn">
            Discover Movies
        </a>

    </div>

    {% endif %}

</div>

</body>
</html>